.item-image{
    @extend %image;

}

.item-item {
    height: 14vh;
    width: 14vh;
    margin: 1vh;
    font-size: 0.5rem;  
}

.item-name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 0.8rem;
    font-family: $font; 
}
  
.items {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2%; 
}
  
.items-nav{
    padding: 2vh 10vw 0 10vw;
    display: flex;
    justify-content: space-between;
}

.item-page{
    font-family: $font;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.back-button{
    font-size: 1.5rem;
    padding-left: 5vw;
}

.image{
    padding: 5vh;
    height: 76.5vw;
    width: 85vw;
    // @extend %image;
}

.item-title{ 
    font-size: 2.4rem;
    i{
        font-size: 1.6rem;
        padding: 0 1vw 0 1vw;
    }
    span{
        padding-right: 5vw;
    }
}



    
