
// variables
$theme-color: rgb(80, 131, 107);
$font: 'Stylish', sans-serif;

// inheritance
%image{
    height: 90%;
    width: 100%;
}

// mixins
@mixin flex($spacing){
    display: flex;
    align-items: center;
    justify-content: $spacing;
}