
form{
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-entry{
    width: 65vw;
    text-align: center;
}

.register-button{
    width: 30vw;
}