html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.items-image, .list-item-image {
  height: 90%;
  width: 100%; }

.list-item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 0.8rem;
  font-family: "Stylish", sans-serif; }

.trips, .trip-lists {
  font-family: "Stylish", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20vw; }

.items-library, .list-items-in-list {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2%; }

.items-nav {
  padding: 2vh 10vw 0 10vw;
  display: flex;
  justify-content: space-between; }

img {
  border-radius: 10%; }

input {
  font-size: 1rem;
  text-align: center; }

* {
  font-family: "Stylish", sans-serif; }

body {
  background-color: white; }

.add-button {
  font-display: "Stylish", sans-serif; }

.items-item {
  height: 20vw;
  width: 20vw;
  margin: 1vh;
  font-size: 0.5rem; }

.list-single-item-in-list {
  height: 14vw;
  width: 14vw;
  margin: 1vh;
  font-size: 0.5rem;
  padding: 3vw; }

.list-item-image:hover {
  border: 2px solid red;
  border-radius: 10px; }

.list-item-name {
  display: flex;
  justify-content: space-around; }

.lists-item-wizard {
  font-family: "Stylish", sans-serif;
  align-items: center; }

.lists-item-wizard-header {
  padding: 5vh 0 5vh 5vw;
  font-size: 1.7rem;
  display: flex;
  justify-content: center; }
  .lists-item-wizard-header input {
    margin-left: 3vw; }

.lists-item-wizard-items {
  display: flex;
  flex-wrap: wrap; }
  .lists-item-wizard-items li {
    padding: 2vw;
    list-style: none; }

.list-info {
  display: flex;
  justify-content: center;
  font-family: "Stylish", sans-serif;
  justify-items: center;
  font-size: 2rem;
  padding: 2vh; }
  .list-info div {
    margin: 0 2vw 0 2vw;
    font-size: 1.7rem; }

.list-display {
  font-size: 1.2rem;
  align-items: center; }

.list-description {
  font-family: "Stylish", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0 2vh 2vh 2vh; }

.add-trip-button {
  padding: 5vw; }

.trip-add-lists {
  list-style: none; }

.trip-add-list {
  display: flex; }

.trip-add-lists-header {
  font-size: 1.5rem;
  padding-top: 6vh; }

.trip-lists-delete {
  display: flex; }

form {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.form-entry {
  width: 65vw;
  text-align: center; }

.register-button {
  width: 30vw; }

.sub-trip ul {
  padding-left: 6vw; }

.trip-title {
  font-size: 2rem;
  display: flex;
  align-items: flex-end; }
  .trip-title i {
    padding-right: 1vw; }

.trip-description {
  font-size: 1.2rem;
  padding-bottom: 5vh;
  padding-top: 2vh; }

.trip {
  font-family: "Stylish", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15vw; }

.trip-title-single-trip {
  font-size: 2rem;
  font-family: "Stylish", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vh 0 3vh 0; }
  .trip-title-single-trip div {
    font-size: 1rem; }

.trip-lists {
  padding-left: 0; }

form {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.form-entry {
  width: 65vw;
  text-align: center; }

.register-button {
  width: 30vw; }

.lists-nav {
  padding: 2vh 10vw 0 10vw;
  display: flex;
  justify-content: space-between; }

.lists {
  height: 80vh; }

.list-icons {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Stylish", sans-serif;
  font-size: 1.7rem; }

.list-name {
  padding: 0 5vh 5vh 5vh; }

.list-items {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 0 1vh 0; }

.list-item-name i {
  padding-right: 1vw; }

.single-item {
  font-size: 4.6rem;
  display: inline-block;
  justify-content: center; }

.items-and-wizard {
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw; }
  .items-and-wizard ul {
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: scroll; }

.item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 0.8rem;
  font-family: "Stylish", sans-serif; }

.add-button {
  font-size: 1.6 rem; }

.item-page {
  font-family: "Stylish", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; }

.back-button {
  font-size: 1.5rem;
  padding-left: 5vw; }

.image {
  padding: 5vh;
  height: 76.5vw;
  width: 85vw; }

.item-title {
  font-size: 2.4rem; }
  .item-title i {
    font-size: 1.6rem;
    padding: 0 1vw 0 1vw; }
  .item-title span {
    padding-right: 5vw; }

.edit-item {
  font-family: "Stylish", sans-serif;
  font-size: 2.4rem; }

.register-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

form {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.form-entry {
  width: 65vw;
  text-align: center; }

.register-button {
  width: 30vw; }

body {
  background-image: url("https://s3-us-west-2.amazonaws.com/wanderlistimages/sky.jpeg"); }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  font-family: "Stylish", sans-serif;
  font-size: 2.5rem; }
  .header div {
    margin: 0 4vw 0 4vw; }
  .header span {
    display: none; }

@media (min-width: 410px) {
  .header {
    font-size: 3.5rem; } }

@media (min-width: 625px) {
  .header span {
    font-size: 2.5rem;
    display: inline-flex;
    padding-right: 3vw; } }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw 0 5vw;
  height: 6vh;
  font-family: "Stylish", sans-serif;
  font-size: 1rem; }

@media (min-width: 410px) {
  .navbar {
    font-size: 1.5rem; } }

@media (min-width: 650px) {
  .navbar {
    padding: 0 15vw 0 15vw; } }

.dropDown {
  font-size: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0; }
  .dropDown li {
    padding-right: 2vw; }
  .dropDown .logout {
    padding-right: 5vw;
    padding-left: 5vw; }

@media (min-width: 450px) {
  .dropDown {
    font-size: 1.2rem; } }
